/* .......................Start Media Scrin ......................... */
/* Max-Width(1024px) */
@media (max-width:1024px) {
    /*Start About  */
    .about-container{
      gap: 30px;
    }
    .basic-edu{
      gap: 20px;
    }
    /*Start Experience  */
    .experience-container{
      gap: 30px;
    }
    /*Start Projects  */
    .project-container{
      grid-template-columns: repeat(2,1fr);
    }
}
/* Max-Width(991px) */
@media (max-width:991px) {
    /*Start Nav  */
    .logo{
      display: none;
    }
    .nav-links{
      justify-content: center;    
      width: 100%;
    }
    /*Start Experience  */
    .experience-container{
      grid-template-columns: 1fr;
    }   
}
/* Max-Width(768px) */
@media (max-width:768px) {
  h1{
    font-size: 38px;    
  }
  h2{
    font-size: 26px;
  }
  a{
    font-size: 20px;
  }
  h3{
    font-size: 24px;
  }
  .arrow{
    right: 5%;
  }
    /*Start Header  */
    .header-container{
      width: 90%;
      grid-template-columns: 1fr;
    }
    .header-left{
      width: 70%;
      margin: 0 auto;
    }
    /*Start About  */
    .about-container{
      grid-template-columns: 1fr;
    }    
    .about-left{
      width: 70%;
      margin: 0 auto;
    }
    .basic-edu{
      gap: 10px;
    }
    /*Start Experinec  */ 
    .experience-box{
      padding: 10px;
    }
    .experience{
      gap: 20px;
    }
    .ex-div{
      gap: 10px;
    }
    /*Start projects  */ 
    .project-container{
      grid-template-columns: 1fr;
    }    
}
/* Max-Width(600px) */
@media (max-width:600px) {
  a{
    font-size: 18px;    
  }
  /* .......Start Nav........*/
  .nav-links{
    gap: 0;
    justify-content: space-between;    
  }
  /* .......Start Contact........*/
  .contact-container {
    flex-direction: column;  
    gap: 1rem;
    font-size: small;
  }
  .email i{
  font-size: 30px;
  }
  .email a{
    font-size: medium;
  }
  /* .......Start footer........*/
  footer{
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 9rem;
  }
  footer .nav-links{
    padding: 1.5rem;
    justify-content: space-between;  
  }
}
/* .......................End Media Scrin......................... */