*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: .4px;
  background: #1a1a1a;
}
section{
  background: #1a1a1a;
}
:root{
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #353535;
  --color-dark-variant: #555555;  

  --transition: .4s ease;
}
h1,h2,h3,h4,h5{
  line-height: 120%;
}
h1{
  font-size: 48px;
  color: var(--color-white);
}
h2{
  font-size: 28px;
}
h3{
  font-size: 26px;
  color: var(--color-white);
}
h4{
  font-size: 19px;
  color: var(--color-white);
}
h5{
  font-size: 18px;
  font-weight: 400;
}
.heading{
  text-align: center;
  margin-bottom: 3rem;
}
p{
  font-size: 17px;
  line-height: 140%;
  color: #cfcfcf;
}
.heading-p{
  padding-top: 9rem;
  text-align: center;
}
a{
  font-size: 24px;
  color: var(--color-white);
  text-decoration-color: var(--color-white);
  transition: var(--transition);
}
a:hover{
  color: #1db954;
  text-decoration-color: #1db954;
  text-underline-offset:1rem;
  text-decoration: underline;
}
.btn{
  display: inline-block;
  width: fit-content;
  padding: 1rem;
  width: 8.4rem;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--color-white);
  border: 1px solid var(--color-dark-variant);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  transition: var(--transition);
  text-decoration: none !important;
}
.btn:hover{
  background: var(--color-dark-variant);
  color: var(--color-white);
}
.btn-dark{
  color: var(--color-white);
  text-decoration: none !important;
}
.btn-dark:hover{
  background: var(--color-dark-variant);
}
img{
  width: 100%;
  display: block;
}
.container{
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}

/* .......................Bagian Awal Nav Bar......................... */
nav{
  height: 6rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  place-items: center; 
  background: #000;  
}
nav a{
  background: #000;
}
nav span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #000;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background: #000;
}
.logo{
  font-size: 40px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--color-white) !important;
  text-decoration: none !important;
  background: #000;
}
.nav-links{
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #000;
}
/* .......................Bagian Akhir Nav Bar......................... */


/* .......................Bagian Awal Header Section......................... */
header{
  padding-top: 11rem;
  background-color: #1a1a1a;
}
.header-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 820px;
  gap: 20px;
  justify-content: space-between;  
}

.header-left img {
  border-radius: 50%;
}

.header-right{
  text-align: center;
  margin: auto; 
}
.header-right p{
  color: #cfcfcf;
}
.header-right h1{
  color: var(--color-white);
}
.header-right h2{
  margin-top: .2rem;
  color: #cfcfcf;
}
.header-action-aria{
  margin-top: .7rem;
  display: flex;
  gap: .7rem;
  justify-content: center;
}
.header-social{
  display: flex;
  gap: .7rem;
  justify-content: center;
  /* margin: .7rem auto;  */
  margin-top: 2rem;
  gap: 2rem;
}
/* .......................End Header Section......................... */


/* .......................Start About Section......................... */
.about-container{
  display: grid;
  grid-template-columns: 38% auto;
  gap: 4rem;
  align-items: center;  
}
.about-left{
  border-radius: 20px;
  overflow: hidden;  
}
.basic-edu{
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
.edu-box{
  padding: 24px;
  text-align: center;
  border: 1px solid var(--color-dark-variant);
  border-radius: 30px;
  width: 100%;
}
.edu-box img{
  margin: auto;
}
/* .......................End About Section......................... */


/* .......................Start Experience Section......................... */
section{
  position: relative;
}
i{
  font-size: 35px;
}
.arrow{
  position: absolute;
  right: 3%;
  transition: var(--transition);
  margin-top: 1.4rem;
}
.arrow:hover{
  margin-top: 2rem;
}
.experience-container{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 4rem;
}
.experience-box{
  border: 1px solid var(--color-dark-variant);
  border-radius: 30px;
  padding: 24px;
}
.experience-box h2{
  margin-bottom: 25px;
  color: var(--color-white);
}
.experience h4{
  color: var(--color-white);
}
.experience{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.ex-div{
  margin: auto;
  display: flex;
  gap: 20px;
}
/* .......................End Experience Section......................... */


/* .......................Start Projects Section......................... */
.project-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  overflow: hidden;
}
.project{
  padding: 24px;
  border: 1px solid var(--color-dark-variant);  
  border-radius: 30px;
  text-align: center;
}
.project img{
  border-radius: 30px;
  margin-bottom: 1rem;
  transform: scale(0.9);
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(15px);
  transition: 0.75s;
}
.project img:hover{
  transform: scale(1.10); 
  opacity: 1;
  filter: blur(0);
}
/* .......................End Projects Section......................... */


/* .......................Start Contact Section......................... */
.contact-container{
  max-width: 30rem;
  border: 1px solid var(--color-dark-variant);
  padding: 24px;  
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: block;
}
.email,.linkedin{
  display: flex;
  align-items: center;
  gap: .5rem;
}
/* .......................End Contact Section......................... */


/* .......................Start Footer Section......................... */
footer{
  margin-top: 9rem;
  padding: 30px;
  text-align: center;
  background: #000;
}
footer i, footer a, footer p{
  background: #000;
}
footer .nav-links{
  justify-content: center;
  margin-bottom: 3rem;
  background: #000;
}
/* .......................End Footer Section......................... */


